<!DOCTYPE html>
<html>
    <head>
        <body><div id="side">
            <p><%=image_tag 'a.jpg' %>ホーム</p><br>
                <p><%=image_tag 'b.jpg' %>話題検索</p><br>
                <p><%=image_tag 'c.jpg' %>通知</p><br>
                <p><%=image_tag 'd.jpg' %>メッセージ</p><br>
                <p><%=image_tag 'e.jpg' %>ブックマーク</p><br>
                <p><%=image_tag 'f.jpg' %>リスト</p><br>
                <p><%=image_tag 'g.jpg' %>プロフィール</p><br>
                <p><%=image_tag 'h.jpg' %>もっと見る</p><br>
        </body></div> 
        <div id="side2">
             <p　 style="text-align:center"><%= link_to 'ツイートする', '/tweets/new' %></p>
        </div>
    </head>
<style></style>
</html>