<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<% @tweets.each do |tweet| %>
<% a =(Time.now.to_time-tweet.tdate.to_time)/60 %>
<p><%= tweet.message %><br>
<%= a.floor(0) %>分前</p>
<%= link_to '削除', "/tweets/#{tweet.id}",method: :delete %>
<%= link_to '表示', "/tweets/#{tweet.id}" %>
 <%= link_to '編集', "/tweets/#{tweet.id}/edit" %>
<% end %>
<br>
<%= link_to 'ツイートする', '/tweets/new' %>
